@import "/home/nicholas/.cache/wal/colors-waybar.css";
* {
	font-size: 12px;
	font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  padding: 0;
}

window#waybar {
/*  background: @background; */
  background: rgba(0, 0, 0, 0);
/*  background-image: radial-gradient(circle, @color5, @color0);*/
	color: #fdf6e3;
}

menu {
  background: @background;
  color: @color3;
  transition: 500ms;
}
menuitem {
  color: @color6;
}
menuitem:hover {
  color: @color5;
  border-color: @color5;
  background: @background;
}


tooltip {
  background: @background;
  color: @color3;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#custom-power,
#power-profiles-daemon,
#cava,
#network {
	background: #1a1a1a;
}

#workspaces button {
	color: @color6;
  padding-left: 1px;
  padding-right: 9px;
}
#workspaces button.active {
	color: @colors9;
  border: 1px solid @colors9;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#workspaces button:hover {
  border-color: @color5;
}

#pulseaudio, #cava {
/*color: #268bd2;*/
  color: @color1;
}
#memory {
/*color: #2aa198;*/
  color: @color2;
}
#cpu {
/*color: #6c71c4;*/
  color: @color3;
}
#battery {
/*color: #859900;*/
  color: @color4;
}
#battery.charging {
  background-color: green;
}
#battery.critical {
  background-color: red;
  color: white;
}
#disk {
	/*color: #b58900;*/
  color: @color5;
}
#network {
  color: @color5;
}
#power-profiles-daemon {
  padding: 0px 11px 0px 1px;
  color: @color6;
}
#custom-power {
  color: @color7;
  font-size: 1.3rem;
  padding-right: 5px;
  padding-left: 5px
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#diski,
#network {
	padding: 0 10px;
}

#workspaces {
  color: @color4;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-right: 1px;
}

#pulseaudio {
/*  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;*/
}

#clock.1 {
  color: @color5;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#clock.2 {
  color: @color6;
}

#clock.3 {
  color: @color7;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#taskbar button {
  margin-left: 4px;
  margin-right: 4px;
}

#taskbar button.active {
  border-bottom: 1px solid @color5;
}


#taskbar button:hover {
  border: solid 1px @color5;
}

#custom-mediaplayer {
  background-color: #1a1a1a;
  font-size: 12px;
/*  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;*/
  padding-left: 2px;
  color: @color7;
}
/*@import "./waybar-mediaplayer/src/style.css";*/

#image {
  background-color: #1a1a1a;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}
